<!-- //<app-display></app-display> -->
<!-- <app-form></app-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <button  class="center" [routerLink]="['/post']" class="btn btn-outline-dark mt-5 ml-5" routerLinkActive="router-link-active" > Company </button>
<button class="center" [routerLink]="['/lokesh']" class="btn btn-outline-dark mt-5 ml-5" routerLinkActive="router-link-active" >Industry</button> -->
<a  class="center" [routerLink]="['/post']"  class="btn btn-outline-dark mt-5 ml-5" routerLinkActive="router-link-active" > Company </a>
<a class="center" [routerLink]="['/lokesh']"   class="btn btn-outline-dark mt-5 ml-5" routerLinkActive="router-link-active" >Industry</a>
<!-- <a href="/post">CLICKME</a> -->

<a class="center" [routerLink]="['/names']"  class="btn btn-outline-dark mt-5 ml-5" routerLinkActive="router-link-active" >Directors</a>
<router-outlet></router-outlet>